DEMO_BACKEND_PORT=4000
DEMO_FRONTEND_ORIGIN=http://127.0.0.1:5174
DEMO_COOKIE_SECURE=false
DEMO_CHALLENGE_SECRET=change-this-long-random-secret
DEMO_DB_HOST=127.0.0.1
DEMO_DB_PORT=3307
DEMO_DB_USER=indice_user
DEMO_DB_PASSWORD=indice_pass
DEMO_DB_DATABASE=indice_db
